.container {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  background-color: red; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: red; }

.row--clocks {
  background-color: red; }

.clock {
  box-sizing: border-box;
  display: block;
  width: 400px;
  height: 400px;
  margin-bottom: 2%; }

.menu {
  width: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form {
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 275px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

@media all and (min-width: 992px) {
  .clock {
    height: 420px;
    padding-top: 4%; } }
