.container-fluid {
  max-width: 1600px;
  padding: 0; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0; }
  .row--clocks {
    padding: 1%;
    min-width: 900px;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .row--menus {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .row--footer {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }

.clock {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 400px;
  height: 100%;
  padding-top: 0; }
  .clock--countdown {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 400px;
    height: 100%; }

.menu {
  width: 50%;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form-wrapper {
  width: 50%;
  height: 275px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.form {
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 200px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .form--countdown {
    box-sizing: border-box;
    display: block;
    width: 200px;
    height: 60px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }

.button-wrapper {
  width: 50%;
  height: 275px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

@media all and (min-width: 992px) {
  .clock {
    height: 420px;
    padding-top: 4%; }
    .clock--countdown {
      height: 420px;
      padding-top: 4%; } }

body {
  font-family: 'Lato', sans-serif; }

.prvi {
  font-size: 14px;
  font-weight: 300; }

.drugi {
  font-size: 10px;
  font-weight: 300; }

.treci {
  font-size: 18px;
  font-weight: 300; }

.cetvrti {
  font-size: 18px;
  font-weight: 400; }

.cetvrti {
  font-size: 85px;
  font-weight: 400; }

/* This comment is
 * more than one line long
 * since it uses the CSS comment syntax,
 * it will appear in the CSS output. */
.countdown {
  border-bottom: 2px solid #353535;
  margin-bottom: 4%;
  padding: 0; }

.prepare {
  border-bottom: 2px solid #D8FF1A;
  margin-bottom: 9%;
  padding: 0; }

.work {
  border-bottom: 2px solid #52FF83;
  margin-bottom: 9%; }

.rest {
  border-bottom: 2px solid #FF5C36;
  margin-bottom: 9%; }

.cycles {
  border-bottom: 2px solid #EDEDED;
  margin-bottom: 9%;
  margin-top: 11%; }

.tabatas {
  border-bottom: 2px solid #EDEDED;
  margin-bottom: 9%; }

.key-words {
  margin-left: 10px;
  line-height: 21px;
  vertical-align: middle;
  margin-bottom: 0; }

input.key-numbers {
  float: right;
  clear: both;
  border: 0;
  text-align: center;
  padding: 0; }

input.key-numbers::-webkit-inner-spin-button {
  width: 14px;
  background-repeat: no-repeat;
  background-position: 95% 42%;
  opacity: 1; }

input.key-numbers::-webkit-outer-spin-button {
  opacity: 1; }

input.key-numbers--extra {
  float: right;
  clear: both;
  border: 0;
  text-align: center; }

input.key-numbers--extra::-webkit-inner-spin-button {
  width: 14px;
  background-repeat: no-repeat;
  background-position: 95% 42%;
  opacity: 1; }

input.key-numbers--extra::-webkit-outer-spin-button {
  opacity: 1; }

input.prepare-input::-webkit-inner-spin-button {
  background: #D8FF1A; }

input.work-input::-webkit-inner-spin-button {
  background: #52FF83; }

input.rest-input::-webkit-inner-spin-button {
  background: #FF5C36; }

input.cycles-input::-webkit-inner-spin-button {
  background: #EDEDED; }

input.tabtas-input::-webkit-inner-spin-button {
  background: #EDEDED; }

.footer {
  width: 100%;
  height: 22%;
  padding-bottom: 1%;
  color: #353535;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.countdown--button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4%; }

.buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3%;
  width: 201px; }

.button {
  display: inline-block;
  height: 52px;
  width: 26%;
  border-radius: 50%; }

.button:hover {
  background-color: #E2E2E2; }

.button-image--play {
  background: url("../img/play.svg") no-repeat center;
  background-color: #EDEDED; }

.button-image--pause {
  background: url("../img/pause.svg") no-repeat center;
  background-color: #EDEDED; }

.button-image--reset {
  background: url("../img/repeat.svg") no-repeat center;
  background-color: #EDEDED; }

.button__countdown {
  width: 40%; }
