.container {
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0; }

.row {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.main-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.clock {
  box-sizing: border-box;
  width: 400px;
  height: 400px; }

.menu {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  box-sizing: border-box;
  min-width: 200px;
  height: 275px; }

body {
  font-family: 'Lato', sans-serif; }

.prvi {
  font-size: 14px;
  font-weight: 300; }

.drugi {
  font-size: 10px;
  font-weight: 300; }

.treci {
  font-size: 18px;
  font-weight: 300; }

.cetvrti {
  font-size: 18px;
  font-weight: 400; }

.cetvrti {
  font-size: 85px;
  font-weight: 400; }

.prepare {
  border-bottom: 2px solid #D8FF1A;
  margin-bottom: 9%;
  padding: 0; }

.work {
  border-bottom: 2px solid #52FF83;
  margin-bottom: 9%; }

.rest {
  border-bottom: 2px solid #FF5C36;
  margin-bottom: 9%; }

.cycles {
  border-bottom: 2px solid #EDEDED;
  margin-bottom: 9%;
  margin-top: 11%; }

.tabatas {
  border-bottom: 2px solid #EDEDED;
  margin-bottom: 9%; }

.key-words {
  margin-left: 10px;
  line-height: 21px;
  vertical-align: middle;
  margin-bottom: 0; }

input.key-numbers {
  float: right;
  clear: both;
  border: 0;
  text-align: center;
  padding: 0; }

input.key-numbers::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  background: #eee url("http://i.stack.imgur.com/YYySO.png") no-repeat 50% 50%;
  background-repeat: no-repeat;
  background-position: 95% 42%;
  opacity: 1; }

input.key-numbers::-webkit-outer-spin-button {
  opacity: 1; }

input.key-numbers--extra {
  float: right;
  clear: both;
  border: 0;
  text-align: center; }

input.key-numbers--extra::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  background: #eee;
  background-repeat: no-repeat;
  background-position: 95% 42%;
  opacity: 1; }

input.key-numbers--extra::-webkit-outer-spin-button {
  opacity: 1; }

input.prepare-input::-webkit-inner-spin-button {
  background: #D8FF1A; }

input.work-input::-webkit-inner-spin-button {
  background: #52FF83; }

input.rest-input::-webkit-inner-spin-button {
  background: #FF5C36; }

input.cycles-input::-webkit-inner-spin-button {
  background: #EDEDED; }

input.tabtas-input::-webkit-inner-spin-button {
  background: #EDEDED; }

.buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 3%; }

.button {
  display: inline-block;
  height: 40px;
  width: 26%;
  border-radius: 50%; }

.button:hover {
  background-color: #E2E2E2; }

.button-image--play {
  background: url("../img/play.svg") no-repeat center;
  background-color: #EDEDED; }

.button-image--pause {
  background: url("../img/pause.svg") no-repeat center;
  background-color: #EDEDED; }

.button-image--reset {
  background: url("../img/repeat.svg") no-repeat center;
  background-color: #EDEDED; }
