.countdown--button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 

  margin-bottom: 4%;
}

.buttons {
	display : flex;

	justify-content: space-between;
	padding-top: 3%;

	width: 201px;
}
	.button {
		display: inline-block;
		height: 52px;
		width: 26%;
		border-radius: 50%;
	}


	.button:hover {
		background-color: $color-gray--ligh;

	}

		.button-image--play {
		  background: url("../img/play.svg") no-repeat center;
		  background-color: $color-gray;
		}
		.button-image--pause {
		  background: url("../img/pause.svg") no-repeat center;
		  background-color: $color-gray;
		}
		.button-image--reset {
		  background: url("../img/repeat.svg") no-repeat center;
		  background-color: $color-gray;
		}


.button__countdown {
	width: 40%;
}