.container {
	width: 100%;
}
.row {
	display : flex;
	justify-content: center;
	margin-top: 10%;
	max-width: 1600px;
}
.clock {
	width: 35%;
	height: 400px;
}

.menu {
	width: 15%;
	height: 400px;
	padding-top: 3%;
}