.container-fluid {
	max-width: 1600px;
	padding: 0;
}

    .row {
	    display:        flex;
	    flex-flow:  row wrap;
	    justify-content:  center;
	    margin:  0;
	    padding: 0;
 
	    &--clocks {
	  	  padding: 1%;
	  	  min-width: 900px;
	  	  height: 100vh;
	  	  display: flex;
		  flex-direction:  row;
		  flex-wrap:       wrap;
		  justify-content: space-around;
		  align-items: center;
	    }

	    &--menus {
		  display: flex;
		  flex-direction:  row;
		  flex-wrap:       wrap;
		  justify-content: center;
		  align-items: center;
	    }

	    &--footer {
	    	align-items: flex-start;
	    	margin-top:    4%;
	    	margin-bottom: 1%;
	    }
  	}

	    .clock {
		    box-sizing: border-box;
		    display: flex;
		    flex-flow: row wrap;
		    justify-content: center;
		    align-items: center;
		    width:  400px;
		    height: 100%;
		    padding-top: 0;

		    &--countdown {
		 	  box-sizing: border-box;
		      display: flex;
		      flex-flow: row wrap;
		      justify-content: center;
		      align-items: center;
		  	  width:  400px;
		  	  height: 100%;
		    }
	    }


		.menu {
		  	width: 50%;
		  	height: 120px;
		  	margin: 0;
		  	display: flex;
		  	flex-direction:  row;
		 	flex-wrap:       wrap;
		  	justify-content: center;
		  	align-items: center;
		  }

		  	.form-wrapper {
		  		width: 50%;
		  		height: 100%;
		  		display: flex;
		  	    flex-direction:  row;
		 	    flex-wrap:       wrap;
		  	    justify-content: center;
		  	    align-items: center;
		  	}

		  		.form {
			        box-sizing: border-box;
			  	    display: block;
				    width:     200px;
				    height:    100%;
				    align-self: center;

				    &--countdown {
				        box-sizing: border-box;
				  	    display: block;
					    width:     200px;
					    height:    60px;
					    align-self: center;				    	
				    }
			    }


		  	.button-wrapper {
		  		width: 50%;
		  		height: 100%;
		  		display: flex;
		  	    flex-direction:  row;
		 	    flex-wrap:       wrap;
		  	    justify-content: center;
		  	    align-items: center;
		  	}



// Breakpoint at 992px for not-mobile view. Means,  main content in one row

@media all and (min-width: 992px) {

	.container {

	}

	  .row {
	
	  }

		.main-wrapper {

		}

		  .clock {
			  height: 420px;
			  padding-top: 4%;

			  &--countdown {
			  				  height: 420px;
			  padding-top: 4%;

		  	  }
		  }

		  .menu {

		  }
}