.prepare {
	border-bottom: 2px solid $color-prepare;
	margin-bottom: 3%;
}

.work {
	border-bottom: 2px solid $color-work;
	margin-bottom: 3%;
}

.rest {
	border-bottom: 2px solid $color-rest;
	margin-bottom: 3%;
}

.cycles {
	border-bottom: 2px solid $color-gray;
	margin-bottom: 3%;
	margin-top: 5%;
}

.tabatas {
	border-bottom: 2px solid $color-gray;
	margin-bottom: 3%;
}


.key-words {
  margin-left: 10px;
  line-height: 28px;
  vertical-align: middle;
}


input.key-numbers {
  float: right;
  clear: both;
  border: 0;
  text-align: center;
}

input.key-numbers::-webkit-inner-spin-button {
	opacity: 1;
} 
input.key-numbers::-webkit-outer-spin-button {  
	opacity: 1;
}



input.key-numbers--extra {
  float: right;
  clear: both;
  border: 0;
  text-align: center;
}


input.key-numbers--extra::-webkit-inner-spin-button {
	opacity: 1;
} 
input.key-numbers--extra::-webkit-outer-spin-button {  
    opacity: 1;
}






