/* This comment is
 * more than one line long
 * since it uses the CSS comment syntax,
 * it will appear in the CSS output. */

// These comments are in single line
// They will not appear in the CSS output,
// since they use the single-line comment syntax.



.countdown {
  border-bottom: 2px solid $color-black;
  margin-bottom: 4%;
  padding: 0;
}

.prepare {
	border-bottom: 2px solid $color-prepare;
	margin-bottom: 9%;
	padding: 0;
}

.work {
	border-bottom: 2px solid $color-work;
	margin-bottom: 9%;
}

.rest {
	border-bottom: 2px solid $color-rest;
	margin-bottom: 9%;
}

.cycles {
	border-bottom: 2px solid $color-gray;
	margin-bottom: 9%;
	margin-top: 11%;
}

.tabatas {
	border-bottom: 2px solid $color-gray;
	margin-bottom: 9%;
}


.key-words {
  margin-left: 10px;
  line-height: 21px;
  vertical-align: middle;
  margin-bottom: 0;
}


input.key-numbers {
  float: right;
  clear: both;
  border: 0;
  text-align: center;
  padding: 0;
}


input.key-numbers::-webkit-inner-spin-button {
  width: 14px;
  background-repeat: no-repeat;
  background-position: 95% 42%;
  opacity: 1;
} 
input.key-numbers::-webkit-outer-spin-button {  
	opacity: 1;
}



input.key-numbers--extra {
  float: right;
  clear: both;
  border: 0;
  text-align: center;
}


input.key-numbers--extra::-webkit-inner-spin-button {
  width: 14px;
  background-repeat: no-repeat;
  background-position: 95% 42%;
  opacity: 1;
} 
input.key-numbers--extra::-webkit-outer-spin-button {  
    opacity: 1;
}



input.prepare-input::-webkit-inner-spin-button {
  background: $color-prepare;
} 

input.work-input::-webkit-inner-spin-button {
  background: $color-work;
} 

input.rest-input::-webkit-inner-spin-button {
  background: $color-rest;
} 

input.cycles-input::-webkit-inner-spin-button {
  background: $color-gray;
} 

input.tabtas-input::-webkit-inner-spin-button {
  background: $color-gray;
} 



