body {
  font-family: 'Lato', sans-serif;
}


.prvi {
  font-size: 14px;
  font-weight: $light;
}

.drugi {
  font-size: 10px;
  font-weight: $light;
}

.treci {
  font-size: 18px;
  font-weight: $light;
}

.cetvrti {
  font-size: 18px;
  font-weight: $regular;
}

.cetvrti {
  font-size: 85px;
  font-weight: $regular;
}

