/*------------------------------------*\
** COLORS
\*------------------------------------*/

$color-prepare : #D8FF1A;
$color-work : #52FF83;
$color-rest : #FF5C36;

$color-gray : #EDEDED;
$color-gray--ligh : #E2E2E2;
$color-gray--dark : #666666;

$color-black : #353535;


/*------------------------------------*\
** FONT WEIGHTS
\*------------------------------------*/

$light: 300;
$regular: 400;
$bold: 700;
$extrabold: 900;